.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cfee5f;
}

.header{
  font-size: 40px;
  font-family: sans-serif;
  color: #c2302c;
  text-align: center;
  padding: 1%;
  margin-top: 5px;
}

#memory_board{
  height:700px;
  width: 700px;
  border-style: solid;
  border-color: #add996;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 6px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: 24% 24% 24% 24%;
  grid-auto-flow: column;
}

@media screen and (max-width:500px){
  #memory_board{
    width:400px;
    height: 400px;
    padding-top: 0px;
  }
}

.pointerStop{
  pointer-events: none;
}

.card{
  height: 100%;
  width: 100%;
  margin: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #add996;
  background-color: #c2302c;
  background-image:
  linear-gradient(
    #c2302c, #f04c06
    );
    background-size: cover;
    position:relative;
    transition: all .8s ease;
  }

  img {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    pointer-events: none;
  }

  .playBtn{
    margin: 2%;
    padding: 1%;
    background-color: #add996;
    color: #c2302c;
    font-size: 20px;
  }

  .clicked {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events:none;
    transition: 1s ease-in-out;
  }

  .images_clicked {
    opacity: 1;
    transition: .8s;
  }
