/*@media only screen and (max-width: 768px) {*/

.body{

}

.wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.header{
  font-size: 40px;
  font-family: sans-serif;
  color: hotpink;
  text-align: center;
  padding: 1%;
}

#memory_board{
  height:700px;
  width: 700px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card{
  height: 24%;
  width: 24%;
  margin: 1px;
  border-width: 1px;
  border-style: solid;
    border-color: pink;
    background-color: hotpink;
    position:relative;
    transition: all .8s ease;
}

img {
position: absolute;
height: 100%;
width: 100%;
opacity: 0;
transition: .8s ease;
pointer-events: none;
}

.playBtn{
margin: 1em;
position: relative;

}

.clicked {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

   /*transition: .8s;*/
    pointer-events:none;
    transition: 1s ease-in-out;

  /*transform: rotate(360deg);*/
/*pointer-events: none;*/
}

.images_clicked {
  opacity: 1;
  transition: .8s;
}
