@media only screen and (max-width: 768px) {



.wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}


#memory_board{
  height:700px;
  width: 700px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card{
  height: 24%;
  width: 24%;
  margin: 1px;
  border-width: 1px;
  border-style: solid;
    border-color: red;
    background-color: pink;
    position:relative;
    transition: all .5s ease;
}

img {
position: absolute;
height: 100%;
width: 100%;
opacity: 0;
transition: .8s ease;
pointer-events: none;
}

.playBtn{
margin: 1em;


}

.clicked {
  -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

   transition: .8s;
    /*pointer-events:none;*/
    transition: 1s ease-in-out;

  /*transform: rotate(360deg);*/
pointer-events: none;
}

.images_clicked {
  opacity: 1;
}
